:root {
  --sidebars-sidebar-button-width: 3.25em;
  --d-sidebar-row-horizontal-padding: 1rem;
  --d-sidebar-admin-background: transparent;
}

.header-sidebar-toggle button {
  // match sidebar button size
  box-sizing: border-box;
  width: var(--sidebars-sidebar-button-width);
  height: 3em;
}

.desktop-view {
  .chat-header-icon {
    display: none;
  }
}

.experimental-sidebars-sidebar {
  --d-max-width: 1210px;
  [data-link-name="admin"] {
    display: none;
  }
  .sidebar-wrapper {
    --d-sidebar-highlight-background: var(--d-hover);
  }

  .sidebar__panel-switch-button {
    display: none;
  }

  .sidebar-panel-header__row,
  .docs-sidebar-header__row,
  .sidebar-admin-header__row {
    width: auto;
    &:first-child {
      display: none;
    }
  }

  .sidebars-sidebar__buttons {
    order: -1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-bottom: 1em;

    @if $style-mode == "top" {
      padding: 1.5em var(--d-sidebar-row-horizontal-padding) 0.5em;
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    }

    @if $style-mode == "left" {
      align-content: start;
      padding-top: 1.45em;
      padding-left: 0.75em;
      padding-right: 0.75em;
      border-right: 1px solid var(--primary-low);
    }

    .btn {
      box-sizing: border-box;
      padding: 0.6em 0.15em 0.4em;
      gap: 0;
      flex-direction: column;
      width: var(--sidebars-sidebar-button-width);
      min-width: 0;
      overflow: hidden;
      position: relative;

      .discourse-no-touch & {
        &:not(.active):hover {
          background: var(--d-hover);
        }
      }
      .d-button-label {
        color: var(--d-sidebar-link-color);
        font-size: var(--font-down-2);
        letter-spacing: 0.25px;
        margin-top: 0.5em;
        width: 100%;
        @include ellipsis;
      }

      .d-icon {
        color: var(--primary-500);
        margin: 0;
      }
      &.active {
        background: var(--d-selected);
        color: var(--d-sidebar-highlight-color);
        .d-button-label {
          color: var(--d-sidebar-highlight-color);
        }
        .d-icon {
          color: var(--d-sidebar-highlight-color);
        }
      }
    }
  }

  @if $style-mode == "left" {
    --d-sidebar-width: 20em;

    .sidebar-container {
      // layout a little hacky, should normalize
      display: grid;
      grid-template-areas: "sidebars sidebar-header" "sidebars sidebar-content";
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;

      &:has(.docs-sidebar-header) {
        grid-template-areas: "sidebars sidebar-header" "sidebars sidebar-content";
        grid-template-columns: auto 1fr;
      }
    }

    .sidebars-sidebar__buttons {
      grid-area: sidebars;

      .badge-notification {
        position: absolute;
        right: 0;
        top: 0.15em;
        background: var(--tertiary-medium);
      }
    }

    .sidebar-sections {
      grid-area: sidebar-content;
    }

    .sidebar-footer-wrapper {
      display: none;
    }

    .discourse_sidebar_docs-panel {
      padding: 0;
    }

    .docs-sidebar-header__row {
      .sidebar-filter {
        width: 100%;
        margin-right: 1em;
      }
    }

    .discourse_sidebar_docs-panel
      .sidebar-section-link-wrapper
      .sidebar-section-link-content-text {
      padding-left: 0.25em;
    }
  }

  .sidebar-filter {
    margin-top: 0;
  }

  @if $style-mode == "top" {
    .sidebar-wrapper .sidebar-sections {
      padding-top: 0.5em;
    }
  }
}

// user nav

#sidebar-section-content-user-summary,
#sidebar-section-content-user-invites,
#sidebar-section-content-badges {
  padding-bottom: 0;
}

.experimental-sidebars-sidebar {
  .discourse-sidebar-user-panel {
    padding-top: 0;
  }
  .bottom-tabs.tabs-list {
    display: none;
  }
  .user-navigation {
    display: none;
  }
  .user-main .about {
    display: none;
  }
  .user-content {
    margin-top: 0;
  }
  .user-sidebar-header {
    margin-top: 0.75em;
    padding: var(--d-sidebar-row-horizontal-padding);
    display: flex;
    flex-direction: column;
    min-width: 0;
    gap: 1em;
    .avatar {
      width: 2.5em;
      height: 2.5em;
      margin-top: 0.25em;
      flex: 0 0 auto;
    }
    &__user {
      display: flex;
      gap: 0.5em;
      align-items: center;
      overflow: hidden;
      min-width: 0;
    }
    &__user-name {
      flex: 0 1 auto;
      min-width: 0;
      line-height: 1.2;
      display: flex;
      flex-direction: column;
    }
    .user-name-first {
      font-size: var(--font-up-2);
      @include ellipsis;
    }
    .user-name-second {
      color: var(--primary-high);
      @include ellipsis;
    }
    &__actions {
      display: flex;
      gap: 0.5em;
      justify-content: space-between;
      font-size: var(--font-down-1);
      .btn {
        flex: 1 1 auto;
        &:not(:hover) {
          background: var(--d-hover);
        }
      }
    }
  }
}

.hamburger-panel .revamped {
  .sidebar-section-wrapper {
    margin-bottom: 0;
  }
  .panel-body-contents .sidebar-hamburger-dropdown {
    display: grid;
    grid-template-areas: "nav extra" "nav content";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    padding-top: 0;

    .user-sidebar-header {
      order: 3;
      padding-top: 0.75em;
      margin-top: 0;
      background: var(--secondary);
      position: sticky;
      top: 0;
      border-left: 1px solid var(--primary-low);
    }

    .sidebar-sections {
      grid-area: content;
      padding: 0.75em;
      border-left: 1px solid var(--primary-low);
    }

    .sidebars-sidebar__buttons {
      grid-area: nav;
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;
      background: var(--secondary);
      z-index: 2;
      padding: 0.75em 0;
      align-self: start;
      border: none;
      gap: 0;
    }
  }
}

.mobile-view {
  --d-sidebar-highlight-background: var(--tertiary-low);

  .sidebar-row {
    --d-sidebar-row-horizontal-padding: 0.5em;
  }
  .menu-panel .sidebar-filter {
    width: 100%;
  }

  .sidebar-panel-header__row {
    margin: 0;
  }

  .horizontal-overflow-nav,
  .user-main .about {
    display: none;
  }
  .user-navigation,
  .new-user-wrapper .user-navigation-secondary {
    display: none;
  }

  .experimental-sidebars-sidebar .sidebars-sidebar__buttons .btn {
    flex: 1 1 auto;
    border-radius: 0;
    padding: 0.85em 0.25em;
    box-sizing: content-box;

    .d-button-label {
      color: var(--primary-high);
      margin-top: 0.55em;
    }
    .d-icon {
      color: var(--primary-medium);
    }
    &.active {
      background: var(--tertiary-low);
    }

    &:hover {
      // too specific in core, temp for now
      background: transparent !important;
      &.active {
        background: var(--tertiary-low) !important;
      }
    }
  }

  .has-full-page-chat .d-header-icons .hamburger-dropdown {
    display: block;
  }

  .header-dropdown-toggle.chat-header-icon {
    display: none;
  }
}

.groups-header-new,
.groups-header-filters-type,
.d-header .ai-bot-button {
  display: none;
}

.about-sidebar-header,
.groups-sidebar-header,
.community-sidebar-header {
  padding: var(--d-sidebar-row-horizontal-padding);
  padding-bottom: 0;
  display: flex;
  margin-top: 0.5em;

  &__actions {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
}

.container.group {
  .user-primary-navigation {
    .combo-box-header {
      display: none;
    }
  }

  .user-content {
    margin-top: 1em;
  }

  .user-secondary-navigation {
    border-bottom: 1px solid var(--primary-low);
  }
}

.about-sidebar-header {
  margin-top: 0.5em;
}

#current-user {
  position: relative;

  img {
    visibility: hidden;
  }
  .svg-icon.d-icon {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    top: 0.3em;
  }

  .discourse-no-touch &:hover,
  &:focus-visible {
    .d-icon {
      color: var(--header_primary-high);
    }
  }
}

.body-page .nav-pills {
  display: none;
}

.sidebar-more-section-trigger.sidebar-section-link {
  display: none;
}

.sidebar-user-button {
  margin-top: auto;
}

[data-list-item-name="everything"],
[data-list-item-name="my-posts"],
[data-list-item-name="review"],
[data-list-item-name="invite"],
[data-list-item-name="upcoming-events"],
[data-list-item-name="my-messages"] {
  display: none;
}

@if $replace_breadcrumb_with_filter == "true" {
  .category-breadcrumb {
    display: none;
  }
  #navigation-bar {
    display: none;
  }
}

.navigation-container {
  .breadcrumb-filter-navigation {
    width: auto;
    margin-right: 1em;
    flex: 1 1 auto;
  }
}

.navigation-controls {
  #create-topic,
  .topic-drafts-menu-trigger {
    display: none;
  }
}

.community-sidebar-header__actions {
  display: flex;
  white-space: nowrap;
  gap: 0.5em;

  .topic-drafts-menu-trigger.btn-small {
    flex: 1 1 0;
  }
}

#main-outlet-wrapper:has(#main-outlet .reviewable) {
  --d-sidebar-width: 4.8em;
  --d-max-width: 1454px;

  .sidebar-sections {
    display: none;
  }

  .sidebar-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: " sidebar-content";
  }

  .sidebars-sidebar__buttons {
    grid-row-start: 1;
  }

  .reviewable-container {
    flex-direction: row-reverse;
    gap: 1em;
  }

  .reviewable .reviewable-container .reviewable-list + .reviewable-filters {
    margin-left: 0;
  }

  .reviewable-item:first-child {
    margin-top: 0;
  }
}

body.has-ai-conversations-sidebar .ai-new-question-button__wrapper {
  margin-top: 1.5em;
}

.has-full-page-chat .c-navbar-container {
  padding-top: 1.25em;
}
